@CHARSET "ISO-8859-1";
.container img{
  width:10%;
  float:left;
}

.container h1{
  text-align:center;
}

.searchBar h3{
  border: 1px;
  margin-top:3;
}

.result-data{
  width:100%;
  border: 1px solid rgba(0,0,0,.3);
  padding: 20;
  font-weight:bolder;
  margin-top:10px;
  background-color:rgba(0,0,0,.1);
}

.method-data{
  width:95%;
  border: 1px solid rgba(0,0,0,.3);
  padding: 20;
  font-weight:bolder;
  margin-top:10px;
  background-color:rgba(0,0,0,.1);
  margin-left:5%
}

.param-data{
  width:90%;
  border: 1px solid rgba(0,0,0,.3);
  padding: 20;
  font-weight:bolder;
  margin-top:10px;
  background-color:rgba(0,0,0,.1);
  margin-left:10%
}

.pattern-separator{
	border-top: 1px solid #8c8b8b;
}

.error-label{
	color:red;
}

.warning-label{
	color:blue;
}